apiVersion: apps/v1
kind: Deployment
metadata:
  name: iot
  namespace: {{ app_namespace }}
spec:
  selector:
    matchLabels:
      app: iot
  template:
    metadata:
      labels:
        app: iot
    spec:
      containers:
        - name: iot
          image: {{ image_name }}:{{ image_tag }}
          ports:
            - containerPort: {{ app_port }}
