---
console:
  enabled: false
image:
  repository: {{ minio_image_repository }}
auth:
  existingSecret: {{ connection_secret_name }}
  rootUserSecretKey: accessKey
  rootPasswordSecretKey: secretKey
defaultBuckets: {{ buckets }}
