apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: {{ gateway_name }}
spec:
  gatewayClassName: {{ gateway_class_name }}
  listeners:
    - protocol: HTTP
      port: {{ gateway_listener_argocd_port }}
      name: {{ gateway_listener_argocd_name }}
      allowedRoutes:
        namespaces:
          from: All
    - protocol: HTTP
      port: {{ gateway_listener_app_port }}
      name: {{ gateway_listener_app_name }}
      allowedRoutes:
        namespaces:
          from: All
