---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |
    providers:
      kubernetesGateway:
        enabled: true
    ports:
      {{ gateway_listener_app_name }}:
        port: {{ gateway_listener_app_port }}
        expose:
          default: true
        exposedPort: {{ gateway_listener_app_port }}

      {{ gateway_listener_argocd_name }}:
        port: {{ gateway_listener_argocd_port }}
        expose:
          default: true
        exposedPort: {{ gateway_listener_argocd_port }}

      {{ gateway_listener_gitlab_name }}:
        port: {{ gateway_listener_gitlab_port }}
        expose:
          default: true
        exposedPort: {{ gateway_listener_gitlab_port }}
